## Unit Test Results

JUnit unit tests were used to verify vacation date validation and report search validation. All four tests passed successfully.

### Test Code

![ValidationUnitTest.Java.jpg](/docs/test_results_images/ValidationUnitTest.Java.jpg)

### Test Results

![Validation Test Results.jpg](/docs/test_results_images/Validation%20Test%20Results.jpg)
![Validation Test Results CloseUp.jpg](/docs/test_results_images/Validation%20Test%20Results%20CloseUp.jpg)